@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --primary-color: #2a2f4b;
}

body {
  background: #aba8a8;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  background: white;
  padding: 1em;
}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 1.2em;
}

.navbar .logo span {
  color: var(--primary-color);
}

.navbar nav {
  display: none;
}

.navbar .container {
  display: flex; 
  justify-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
}

a {
  color: var(--primary-color);
  text-decoration: none; 
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 0;
}

.hero {
  text-align: center;
}

.left-col .subhead {
  text-transform: uppercase;
  font-weight: bold;
  color: rgb(217, 207, 207);
  letter-spacing: 0.3em; 
}

.left-col h1 {
  font-size: 2em; 
  line-height: 1.2em; 
  margin-top: 0.2em;
}

.features-section {
  background: #20272e;
  color: white;
  padding: 2em 0; 
}

.features-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  gap: 1em; 
  padding-left: 0.1em;
  margin: 0;
}

.features-list li {
  font-size: 1.1em;
  margin-bottom: 1em;
  margin-left: 2em;
  position: relative;
}


